<h1>Confirmar pedido</h1>
<div class="container-fluid">
    <div class="row">
        <!-- Columna izquierda - productos -->
        <div class="col-md-8">
            <div class="shadow p-3 mb-5 bg-white rounded">

                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="saved-client" data-toggle="tab" href="#client" role="tab"
                            aria-controls="client" aria-selected="true">Cliente guardado</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="new-client" data-toggle="tab" href="#clientNew" role="tab"
                            aria-controls="clientNew" aria-selected="false">Cliente nuevo</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <!-- Contenido cliente guardado -->
                    <div class="tab-pane fade show active" id="client" role="tabpanel" aria-labelledby="client-tab">
                        <form action="/crearPedido/crear" method="post">
                            <div class="row p-3">
                                <div class="col-md-6">
                                    <label for="divClientes" class="form-label">Datos del cliente</label>
                                    <div class="shadow p-3 mb-5 bg-white rounded" id="divClientes">
                                        <input class="form-control mr-sm-2 mb-3 buscador" type="text" id="buscador"
                                            placeholder="Buscar cliente" aria-label="Search">
                                        <!-- lista de clientes -->
                                        <div class="client-scroll">
                                            <% for( let i=0; i < cliente.length; i++ ) { %>
                                                    <div class="card cliente-buscador">
                                                        <div class="card-body">
                                                            <div class="row align-items-center">
                                                                <div class="col-md-1">

                                                                    <label for="radio<%=cliente[i].id%>" class="radio">
                                                                        <input id="radio<%=cliente[i].id%>"
                                                                            name="clientRadio"
                                                                            value="<%= cliente[i].id %>" type="radio">
                                                                        <span class="radio__mark"></span>
                                                                    </label>

                                                                </div>
                                                                <div class="col-md-7">
                                                                    <h5 class="client-name"><%= cliente[i].nombre %></h5>
                                                                    <div class="card-subtitle text-muted">
                                                                        <h6>
                                                                            <%= cliente[i].telefono %>
                                                                        </h6>
                                                                    </div>
                                                                </div>

                                                                <div class="col-md-4">
                                                                    <h6>
                                                                    </h6>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                <% } %>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="direccion" class="form-label">Direccion de entrega</label>
                                        <input type="text" class="form-control" id="direccion" name="direccion"
                                            required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="txtArea" class="form-label">Comentario</label>
                                        <textarea class="form-control" id="txtArea" maxlength="200" name="txtArea"
                                            rows="5"></textarea>
                                    </div>
                                </div>
                                <input type="text" name="strPedido" id="strPedido" value="<%= strPedido %> " hidden>
                                <input type="text" name="totalPrice" id="totalPrice" value="<%= totalPrice %> " hidden>
                            </div>
                            <button type="submit" class="btn btn-secundario mt-3">Crear pedido</button>
                        </form>

                    </div>
                    <!--  Contenido cliente nuevo -->
                    <div class="tab-pane fade " id="clientNew" role="tabpanel" aria-labelledby="clientNew-tab">
                        <div class="row p-3 align-items-center justify-content-center">
                            <div class="shadow p-3 mb-5 bg-white rounded w-50 ">
                                <form class="" method="post" action="/crearPedido/cliente/crear">
                                    <div class="mb-3">
                                        <label for="newClientName" class="form-label">Nombre del cliente</label>
                                        <input type="text" class="form-control" id="newClientName" name="clientName">
                                    </div>

                                    <div class="mb-3">
                                        <label for="newClientPhone" class="form-label">Telefono</label>
                                        <input type="number" max="999999999" min="100000000" class="form-control"
                                            id="newClientPhone" name="clientPhone">
                                    </div>
                                    <input type="text" name="strPedido" id="strPedido" value="<%= strPedido %> " hidden>
                                    <input type="text" name="totalPrice" id="totalPrice" value="<%= totalPrice %> "
                                        hidden>
                                    <button type="submit" class="btn btn-principal">Guardar</button>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- Fin columna izquierda -->

        <!-- Columna derecha - Lista de pedido -->
        <div class="col-md-4">
            <!-- Card - Crear Producto -->
            <div class="shadow p-3 mb-5 bg-white rounded">
                <div class="card ">
                    <div class="card-header">
                        <h3 class="card-title primary-text">Pedido</h3>
                    </div>
                    <!-- Lista de productos en el pedido -->
                    <div class="card-body">
                        <table class="table table-responsive">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Imagen</th>
                                    <th scope="col">Producto</th>
                                    <th scope="col">Cantidad</th>
                                    <th scope="col">Precio c/u</th>
                                </tr>
                            </thead>
                            <tbody class="tbody">
                                <% for( let i=0; i < pedido.length; i++ ) { %>
                                    <tr>
                                        <th scope="row">
                                            <%= pedido[i].id %>
                                        </th>
                                        <td> <img src="<%= pedido[i].img %>" width="30" height="30" class="rounded"
                                                alt="...">
                                        </td>
                                        <td>
                                            <%= pedido[i].nombre %>
                                        </td>
                                        <td>
                                            <%= pedido[i].cantidad %>
                                        </td>
                                        <td>
                                            <%= pedido[i].precio %>
                                        </td>
                                    </tr>
                                    <% } %>
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer text-center">
                        <h1>TOTAL: <i class="fas fa-dollar-sign secundary-text fa-sm"></i>
                            <%= totalPrice %>
                        </h1>
                    </div>
                </div>
            </div>
        </div>
        <!-- Fin columna derecha -->
    </div>
</div>
<%- contentFor('footer') %>
    <script src="/dist/js/confirmarPedidoScript.js"></script>
<%- contentFor('header') %>