<h1>Editar datos</h1>
<div class="container">
    <div class="row">
        <!-- Columna izquierda - productos -->
        <div class="col-md-12">
            <div class="shadow p-3 mb-5 bg-white rounded">

                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="saved-client" data-toggle="tab" href="#client" role="tab"
                            aria-controls="client" aria-selected="true">Cliente guardado</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="new-client" data-toggle="tab" href="#clientNew" role="tab"
                            aria-controls="clientNew" aria-selected="false">Cliente nuevo</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <!-- Contenido cliente guardado -->
                    <div class="tab-pane fade show active" id="client" role="tabpanel" aria-labelledby="client-tab">
                        <form action="/pedidos/actualizarDatos" name="frmPedido" onsubmit="return validateForm()"
                            method="post">
                            <div class="row p-3">
                                <div class="col-md-6">
                                    <label for="divClientes" class="form-label">Datos del cliente</label>
                                    <div class="shadow p-3 mb-5 bg-white rounded" id="divClientes">
                                        <input class="form-control mr-sm-2 mb-3 buscador" type="text" id="buscador"
                                            placeholder="Buscar cliente" aria-label="Search" value="<%= pedido.cliente %>">
                                        <!-- lista de clientes -->
                                        <div class="client-scroll">
                                            <% for( let i=0; i < cliente.length; i++ ) { %>
                                                <div class="card cliente-buscador">
                                                    <div class="card-body">
                                                        <div class="row align-items-center">
                                                            <div class="col-md-1">

                                                                <label for="radio<%=cliente[i].id%>" class="radio">
                                                                    <input id="radio<%=cliente[i].id%>"
                                                                        name="clientRadio" value="<%= cliente[i].id %>"
                                                                        type="radio" <% if (pedido.cliente == cliente[i].nombre) { %>
                                                                         checked
                                                                        <% } %>>
                                                                    <span class="radio__mark"></span>
                                                                </label>

                                                            </div>
                                                            <div class="col-md-7">
                                                                <h5 class="client-name">
                                                                    <%= cliente[i].nombre %>
                                                                </h5>
                                                                <div class="card-subtitle text-muted">
                                                                    <h6>
                                                                        <%= cliente[i].telefono %>
                                                                    </h6>
                                                                </div>
                                                            </div>

                                                            <div class="col-md-4">
                                                                <h6>
                                                                </h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <% } %>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="direccion" class="form-label">Direccion de entrega</label>
                                        <input type="text" class="form-control" id="direccion" name="direccion" value="<%= pedido.direccion %>" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="estadoPedido" class="form-label">Estado de pedido</label>
                                        <select class="form-control" id="estadoPedido" name="estadoPedido" aria-label="Default select example" required>
                                            <option selected disabled value="" >Elegir estado</option>
                                            <option <% if (pedido.idEstadoEnvio ==1) { %>
                                             selected
                                            <% } %> value="1">Pendiente</option>
                                            <option <% if (pedido.idEstadoEnvio ==2) { %>
                                                selected
                                            <% } %>value="2">Preparado</option>
                                            <option <% if (pedido.idEstadoEnvio ==3) { %>
                                                selected
                                                <% } %> value="3">Enviado</option>
                                            <option <% if (pedido.idEstadoEnvio ==4) { %>
                                                selected
                                                <% } %> value="4">Completado</option>
                                          </select>
                                    </div>
                                    <div class="mb-3">
                                        <label for="estadoPago" class="form-label">Estado de pago</label>
                                        <select class="form-control" id="estadoPago" name="estadoPago" aria-label="Default select example" required>
                                            <option selected disabled value="">Elegir estado</option>
                                            <option <% if (pedido.idEstadoPago ==1) { %>
                                                selected
                                                <% } %> value="1">Pendiente</option>
                                            <option <% if (pedido.idEstadoPago ==2) { %>
                                                selected
                                                <% } %> value="2">Pagado</option>
                                          </select>
                                    </div>
                                    <div class="mb-3">
                                        <label for="txtArea" class="form-label">Comentario</label>
                                        <textarea class="form-control" id="txtArea" maxlength="200" name="txtArea"
                                            rows="5"><%= pedido.comentario %></textarea>
                                    </div>
                                </div>
                                <input type="text" name="strPedido" id="strPedido" value="<%= strPedido %>" hidden>
                                <input type="text" name="idPedido" id="idPedido" value="<%= pedido.id %>" hidden>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-principal mt-3">Guardar cambios</button>
                            </div>
                        </form>

                    </div>
                    <!--  Contenido cliente nuevo -->
                    <div class="tab-pane fade " id="clientNew" role="tabpanel" aria-labelledby="clientNew-tab">
                        <div class="row p-3 align-items-center justify-content-center">
                            <div class="shadow p-3 mb-5 bg-white rounded w-50 ">
                                <form class="" method="post" action="/pedidos/editarDatos/cliente">
                                    <div class="mb-3">
                                        <label for="newClientName" class="form-label">Nombre del cliente</label>
                                        <input type="text" class="form-control" id="newClientName" name="clientName"
                                            required>
                                    </div>

                                    <div class="mb-3">
                                        <label for="newClientPhone" class="form-label">Telefono</label>
                                        <input type="number" max="999999999" min="100000000" class="form-control"
                                            id="newClientPhone" name="clientPhone">
                                    </div>
                                    <input type="text" name="strPedido" id="strPedido" value="<%= strPedido %> " hidden>
                                    <button type="submit" class="btn btn-principal">Guardar</button>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- Fin columna izquierda -->
    </div>
</div>
<%- contentFor('footer') %>
    <script src="/dist/js/confirmarPedidoScript.js"></script>
    <%- contentFor('header') %>