<h1>Editar pedido</h1>
<div class="container-fluid">
    <div class="row">
        <!-- Columna izquierda - productos -->
        <div class="col-md-8">
            <!-- Buscador -->
            <input class="form-control mr-sm-2 buscador" type="text" id="buscador" placeholder="Buscar producto"
                aria-label="Search">
            <div class="product-scroll">
                <!-- Cards - Productos -->
                <div id="cards_landscape_wrap-2">
                    <div class="container">
                        <div class="row">
                            <!-- Mostrar Productos de la base de datos -->
                            <% for( let i=0; i < productos.length; i++ ) { %>
                                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 productos-buscador">
                                    <div class="card card-flyer">
                                        <div class="text-box">
                                            <div class="image-box">
                                                <img class="product-img" src="/images/<%= productos[i].imagen %>"
                                                    alt="" />
                                            </div>
                                            <div class="text-container">
                                                <h1 class="product-id" hidden><%=productos[i].id%></h1>
                                                <h6 class="product-title"><%=productos[i].nombre%></h6>
                                                <div class="d-flex justify-content-center">
                                                    <p>
                                                        <i class="fas fa-dollar-sign secundary-text"></i>
                                                    <p class="price"><%=productos[i].precio%></p>
                                                    </p>
                                                </div>
                                                <div class="btn-group-vertical" role="group"
                                                    aria-label="Vertical button group">

                                                    <button class="btn btn-principal button ">
                                                        Añadir al carrito
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Fin columna izquierda -->

        <!-- Columna derecha - Lista de pedido -->
        <div class="col-md-4">
            <div class="row">
                <!-- Card de lista del productos en el pedido -->
                <div class="card ">
                    <div class="card-header">
                        <h3 class="card-title primary-text">Pedido nuevo</h3>
                    </div>
                    <!-- Lista de productos en el pedido -->
                    <form method="post" action="../actualizarProductos/">
                        <div class="card-body pt-1">
                            <table class="table table-responsive table-scroll">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Imagen</th>
                                        <th scope="col">Producto</th>
                                        <th scope="col">Cantidad</th>
                                        <th scope="col">Precio c/u</th>
                                        <th scope="col">Opciones</th>
                                    </tr>
                                </thead>
                                <tbody class="tbody">

                                </tbody>
                            </table>
                            <input type="text" class="form-control" name="idPedido" id="idPedido" value="<%= pedido[0].idPedido %> " hidden>
                            <input type="text" class="form-control" name="datosPedido" id="datosPedido" value="" hidden>
                            <input type="text" class="form-control" name="pedidoTotal" id="pedidoTotal" value="" hidden>
                        </div>
                        <div class="card-footer pb-1 mb-1">
                            <div class="row pb-1 pt-1 mb-1">
                                <div class="col-8 mb-1">
                                    <h2 class="itemCartTotal mb-1">TOTAL: $0</h2>
                                </div>
                                <div class="col-4 mb-1">
                                    <button type="submit" onclick="borrarStorage()" class="btn btn-principal ">Guardar</button>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
            <div class="row ">
                <!-- Card de lista del productos en el pedido -->
                <div class="card ">
                    <div class="card-header">
                        <h3 class="card-title primary-text">Pedido anterior</h3>
                    </div>
                    <!-- Lista de productos en el pedido -->
                    <div class="card-body pt-1 pb-1">
                        <table class="table table-responsive table-scroll text-center">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Imagen</th>
                                    <th scope="col">Producto</th>
                                    <th scope="col">Cantidad</th>
                                    <th scope="col pt-1">Precio c/u</th>
                                </tr>
                            </thead>
                            <tbody class="tbody">
                                <% for( let i=0; i < pedido.length; i++ ) { %>
                                    <tr>
                                        <th scope="row">
                                            <h6 >
                                                <%= pedido[i].idProducto %>
                                            </h6>
                                        </th>
                                        <td> <img src="/images/<%= pedido[i].imagen %> " width="30" height="30"
                                                class="rounded" alt="..."></td>
                                        <td>
                                            <%= pedido[i].nombreProducto %>
                                        </td>
                                        <td>
                                            <%= pedido[i].cantidad %>
                                        </td>

                                        <td class="">
                                            <%= pedido[i].precio %>
                                        </td>

                                    </tr>

                                    <% } %>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

        </div>
        <!-- Fin de columna derecha -->

    </div>
</div>
<%- contentFor('footer') %>
<script src="/dist/js/cart.js"></script>
<script src="/dist/js/productoScript.js"></script>

<script>
    function borrarStorage(){
        window.localStorage.clear();
    }
</script>

    <%- contentFor('header') %>