<h1>PEDIDOS</h1>
<div class="container shadow p-3 mb-5 bg-white rounded">
    <table id="pedido" class="table text-center ">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Cliente</th>
                <th scope="col">Direccion</th>
                <th scope="col">Precio Total</th>
                <th scope="col">Fecha</th>
                <th scope="col">Estado de pago</th>
                <th scope="col">Estado de envio</th>
                <th scope="col"></th>
            </tr>
        </thead>

        <tbody>
            <% for( let i=0; i < pedidos.length; i++ ) { %>
                <tr>
                    <th scope="row">
                        <%= pedidos[i].id %>
                    </th>
                    <td>
                        <%= pedidos[i].cliente %>
                    </td>
                    <td>
                        <%= pedidos[i].direccion %>
                    </td>
                    <td>
                        <%= pedidos[i].precio %>
                    </td>
                    <td>
                        <%= pedidos[i].fecha %>
                    </td>
                    <td>
                        <% if (pedidos[i].idEstadoPago=1) { %>
                            <span class="badge bg-danger">Pendiente</span>
                            <% } %>
                    </td>
                    <td>
                        <% if (pedidos[i].idEstadoEnvio=1) { %>
                            <span class="badge bg-danger">Pendiente</span>
                            <% } %>
                    </td>
                    <td class="p-2">
                        <div class="dropdown drop-down">
                            <div class="btn-group">
                                <a type="button" class="primary-text pt-2 pb-1 pl-2 pr-2" data-toggle="dropdown">
                                    <i class="fas fa-ellipsis-v"></i>
                                </a>
                                <div class="dropdown-menu drop-down-menu" id="menuTable">
                                    <form class="form-inline" method="get"
                                        action="/pedidos/detalle/<%= pedidos[i].id %>">
                                        <button class="dropdown-item" type="submit">
                                            <i class="fas fa-solid fa-poll-h text-secondary"></i>
                                            Detalles
                                        </button>
                                    </form>
                                    <form class="form-inline" method="get"
                                        action="/pedidos/editarProductos/<%= pedidos[i].id %>">
                                        <button class="dropdown-item" type="submit">
                                            <i class="fas fa-solid fa-edit text-info"></i>

                                            Editar
                                        </button>
                                    </form>
                                    <form class="form-inline formulario-eliminar" method="post"
                                        action="/pedidos/eliminar/<%= pedidos[i].id %>">
                                        <button class="dropdown-item" type="submit">
                                            <i class="fas fa-solid fa-trash-alt text-danger"></i>

                                            Eliminar
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <% } %>
        </tbody>

    </table>
</div>

<%- contentFor('footer') %>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#pedido').DataTable({
                "scrollY": "550px",
                "scrollCollapse": false,
                "language": {
                    "emptyTable": "No hay datos disponibles",
                    "search": "Buscar:",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    },
                    "zeroRecords": "No se encontró un cliente parecido",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ pedidos",
                    "infoEmpty": "Mostrando 0 a 0 de 0 pedidos",
                    "infoFiltered": "(Pedidos filtrados de _MAX_ )",
                    "lengthMenu": "Mostrar _MENU_ pedidos"
                }
            });
        });

        //SweetAlert2 - Confirmar Eliminacion de producto
        $('.formulario-eliminar').submit(function (e) {
            e.preventDefault();
            Swal.fire({
                title: 'Estas seguro de eliminar este pedido?',
                text: "Esta accion no se podrá revertir!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#9466C5',
                cancelButtonColor: '#CC2929',
                confirmButtonText: 'Si, Eliminarlo!',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    Swal.fire(
                        'Eliminado!',
                        'El producto ha sido eliminado.',
                        'success'
                    )
                    this.submit();
                }
            })
        });
    </script>

    <%- contentFor('header') %>
        <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css">